---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers: {}
        url: https://transit.land/api/v2/routing/otp/plan?date=2025-01-30&fromPlace=37.789001%2C-122.401001&includeWalkingItinerary=true&mode=TRANSIT%2CWALK&time=01%3A28%3A51&toPlace=37.782001%2C-122.446999&useFallbackDates=true
        method: GET
      response:
        body: '{"plan":{"date":1738229331000,"from":{"lat":37.789001,"lon":-122.401001,"name":"Origin"},"to":{"lat":37.782001,"lon":-122.446999,"name":"Destination"},"itineraries":[{"duration":1289,"distance":4461.831486736754,"startTime":1738229736000,"endTime":1738231025000,"walkTime":268,"walkDistance":269.2274938531991,"transitTime":1021,"transitDistance":4192.603992883555,"waitingTime":0,"transfers":0,"legs":[{"startTime":1738229736000,"endTime":1738229939000,"distance":203.42831773539444,"duration":203,"mode":"WALK","transitLeg":false,"from":{"lat":37.789001,"lon":-122.401001,"name":"","departure":1738229736000},"to":{"lat":37.79001,"lon":-122.40049,"name":"Market St \u0026 Sansome St","departure":1738229939000,"stopId":"15689","stopCode":"15689","stopOnestopId":"s-9q8yyxqwvb-marketst~sansomest"},"steps":[],"legGeometry":{"points":"gtseFfmajV??\\[??eAtAOTMOkBgCW]????","length":11}},{"startTime":1738229939000,"endTime":1738230960000,"distance":4192.603992883555,"duration":1021,"mode":"BUS","transitLeg":true,"from":{"lat":37.79001,"lon":-122.40049,"name":"Market St \u0026 Sansome St","departure":1738229939000,"stopId":"15689","stopCode":"15689","stopIndex":2,"stopSequence":2,"stopOnestopId":"s-9q8yyxqwvb-marketst~sansomest"},"to":{"lat":37.78254,"lon":-122.44669,"name":"Geary Blvd \u0026 Presidio Ave","departure":1738230960000,"stopId":"14758","stopCode":"14758","stopIndex":19,"stopSequence":19,"stopOnestopId":"s-9q8yvwj51r-gearyblvd~presidioave"},"steps":[],"intermediateStops":[{"lat":37.78849,"lon":-122.40248,"name":"Market St \u0026 Montgomery St","departure":1738230000000,"stopId":"15684","stopCode":"15684","stopIndex":3,"stopSequence":3,"stopOnestopId":"s-9q8yyxjjzm-marketst~montgomeryst"},{"lat":37.788,"lon":-122.40366,"name":"Geary St \u0026 Kearny St","departure":1738230046000,"stopId":"14301","stopCode":"14301","stopIndex":4,"stopSequence":4,"stopOnestopId":"s-9q8yyxh75c-gearyst~kearnyst"},{"lat":37.78763,"lon":-122.40657,"name":"Geary St \u0026 Stockton St","[...]
